@import "src/styles/colors.scss";
@import "src/styles/breakpoints.scss";

.skipToMainContent {
  position: absolute;
  top: auto;
  left: -999px;
  width: 1px;
  height: 1px;
  z-index: -99;
  overflow: hidden;

  &:focus,
  &:active {
    color: $light6Color;
    background-color: #737373;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    z-index: 99;
    outline: 0px;
    border-radius: 3px;
    padding: 18px 23px;
    text-decoration: none;
    overflow: auto;
  }
}

.navigation {
  margin: 0 auto;
  height: 120px;
  margin: 0 50px;

  @include media("<=phone") {
    margin: 0 24px;
    height: 105px;
  }

  nav {
    height: 100%;
    position: relative;
    display: flex;
    position: relative;
    flex-direction: row;
  }
}

.iconRLIcon {
  &:before {
    content: "\e900";
    font-size: 56px;
    position: relative;
    top: 2rem;

    @include media("<=phone") {
      font-size: 48px;
    }
  }

  &:hover {
    @include hover-colors($light-theme: true);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    &.dark {
      @include hover-colors($light-theme: false);
    }
  }
}
