@import 'src/styles/colors.scss';
@import 'src/styles/breakpoints.scss';


section {
  &.intro {
    display: grid;
    grid-template-columns: 50% 50%;

    @include media("<=desktop") {
      grid-template-columns: 100%;
      grid-template-areas: 
      'introTwo'
      'introOne';
    }


    // margin-bottom: 20%;
    .col {
      display: flex;
      flex-direction: column;

      &__1 {
        align-items: center;
        
        @include media('<=desktop') {
          grid-area: introOne;
        }

        .tagline-section {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 5rem;
          margin-left: 12rem;
          text-align: start;

          @include media(">tablet", "<=desktop") {
            margin-left: 7rem;
          }

          @include media("<=tablet") {
            margin-top: 3rem;
            margin-left: 0;
          }

          @include media("<=phone") {
            margin-top: 0.5rem;
          }

          .greeting {
            font-size: 32px;
            font-weight: bold;

            @include media("<=phone") {
              font-size: 18px;
            }
          }

          .heading {
            font-size: 64px;
            line-height: 130%;
            span {
              color: $lightSpecialColor;

              .dark & {
                color: $darkSpecialColor;
              }
            }


            @include media("<=phone") {
              font-size: 40px;
            }
          }
        
          .tagline {
            font-size: 32px;
            line-height: 130%;


            @include media("<=phone") {
              font-size: 20px;
            }
          }

          .description {
            margin-top: 2rem;
            font-size: 16px;
            line-height: 160%;

            @include media("<=phone") {
              font-size: 14px;
            }
          }

          .companies {
            margin-top: 0.5rem;

            @include media("<=phone") {
              font-size: 14px;
            }
            .companyLink {
              cursor: pointer;
              color: inherit;
              text-decoration: none;
              font-weight: 600;
              transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
              &:hover {
                @include hover-colors($light-theme: true);
      
                .dark & {
                  @include hover-colors($light-theme: false);
                }
              }
            }
          }

          .resumeBtn {
            cursor: pointer;
            color: inherit;
            text-decoration: underline;
            margin-top: 10%;
            font-size: 24px;
            width: 200px;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

            &:hover {
              @include hover-colors($light-theme: true);
    
              .dark & {
                @include hover-colors($light-theme: false);
              }
            }

            .external-link-icon {
              margin-left: 5%;
              font-size: 20px;

              @include media('<=phone') {
                font-size: 18px;
              }
            }

            @include media('<=phone') {
              font-size: 20px;
            }
          }
        }
      }

      &__2 {
        align-items: center;

        @include media('<=desktop') {
          grid-area: introTwo;
        }

        .portrait {
          margin-top: 18%;
          border-radius: 50%;
          height: 350px;
          width: 350px;
          
          @include media("<=tablet") {
            margin-top: 0;
            height: 250px;
            width: 250px;
          }

          @include media("<=phone") {
            height: 180px;
            width: 180px;
          }
        }
      }
    }

  }

  &.about {

  }
}
