@import "src/styles/colors.scss";
@import "src/styles/breakpoints.scss";

.section-header {
  color: $lightSectionHeaderColor;
  font-size: 140px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: left;
  z-index: 10;
  position: relative;
  line-height: 0.6em;
  pointer-events: none;
  flex: 1 100%;

  .dark & {
    color: $darkSectionHeaderColor;
  }

  @include media("<=phone") {
    font-size: 21vw;
  }
}

.box {
  padding: 40px 50px 60px;
  font-size: 16px;
  line-height: 160%;
  @include media("<=phone") {
    padding: 10%;
    font-size: 14px;
  }

  .box-header {
    font-size: 46px;
    line-height: 1.3em;
    margin: 60px auto 0.7em;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 680px;
    z-index: 10;
    letter-spacing: -0.03em;

    @include media("<=phone") {
      font-size: 32px;
      margin-top: 2rem;
      margin-bottom: 2.5rem;
      text-align: center;
    }
  }

  ul {
    display: grid;
    @include media("<=phone") {
      text-align: center;
    }
    li {
      list-style: none;
      margin: 1.2rem 0;

      @include media("<=phone") {
        margin: 0.5rem 0;
      }

      a {
        text-decoration: underline;
        color: inherit;
      }
    }
  }

  .box-text-center {
    margin: 3rem 2rem 2rem;
    text-align: center;

    @include media("<=phone") {
      margin: 3rem 0 2rem;
    }
  }
}
