@import 'src/styles/colors.scss';
@import 'src/styles/breakpoints.scss';


section {
  &.intro {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 150px;

    @include media("<=desktop") {
      grid-template-columns: 100%;
      grid-template-areas: 
      'introTwo'
      'introOne';
    }


    // margin-bottom: 20%;
    .col {
      display: flex;
      flex-direction: column;

      &__1 {
        align-items: center;
        
        @include media('<=desktop') {
          grid-area: introOne;
        }

        .tagline-section {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 12vh;
          margin-left: 11rem;
          text-align: start;

          @include media(">tablet", "<=desktop") {
            margin-left: 7rem;
          }

          @include media("<=tablet") {
            margin-top: 3rem;
            margin-left: 0;
          }

          @include media("<=phone") {
            margin-top: 3rem;
            margin-left: 0.2em;
          }

          .greeting {
            font-size: 32px;
            font-weight: bold;

            @include media("<=phone") {
              font-size: 18px;
            }
          }

          .heading {
            font-size: calc(20px + 3.7vw);
            line-height: 130%;
            letter-spacing: -0.04em;
            span {
              color: $lightSpecialColor;

              .dark & {
                color: $darkSpecialColor;
              }
            }


            @include media("<=phone") {
              font-size: 52px;
            }
          }
        
          .tagline {
            font-size: calc(10px + 2vw);
            line-height: 130%;
            letter-spacing: -0.03em;
            @include media("<=phone") {
              font-size: 20px;
            }
          }

          .companies {
            margin-top: 2rem;

            @include media("<=phone") {
              font-size: 14px;
            }
            .companyLink {
              cursor: pointer;
              color: inherit;
              text-decoration: none;
              font-weight: 600;
              transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
              &:hover {
                @include hover-colors($light-theme: true);
      
                .dark & {
                  @include hover-colors($light-theme: false);
                }
              }
            }
          }

          .resumeBtn {
            cursor: pointer;
            color: inherit;
            text-decoration: underline;
            margin-top: 10%;
            font-size: 24px;
            width: 200px;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

            &:hover {
              @include hover-colors($light-theme: true);
    
              .dark & {
                @include hover-colors($light-theme: false);
              }
            }

            .external-link-icon {
              margin-left: 5%;
              font-size: 20px;

              @include media('<=phone') {
                font-size: 18px;
              }
            }

            @include media('<=phone') {
              font-size: 20px;
            }
          }
        }
      }

      &__2 {
        align-items: center;

        @include media('<=desktop') {
          grid-area: introTwo;
        }

        .portrait {
          margin-top: 18%;
          border-radius: 50%;
          height: 350px;
          width: 350px;
          
          @include media("<=tablet") {
            margin-top: 0;
            height: 250px;
            width: 250px;
          }

          @include media("<=phone") {
            height: 180px;
            width: 180px;
          }
        }
      }
    }

  }
}

.about__section {
  margin: 150px 0px;
  display: grid;
  grid-template-columns: 15% 70% 15%;

  @include media(">tablet", "<=1024px") {
    grid-template-columns: 3% 94% 3%;
  }

  @include media("<=tablet") {
    grid-template-columns: 100%;
  }

  @include media("<=phone") {
    margin: 80px auto;
    grid-template-columns: 100%;
  }

  &__content {
    grid-column: 2 / 2;
    display: grid;
    grid-template-columns: 50% 50%;

    @include media("<=tablet") {
      grid-column: 1;
      grid-template-columns: 100%;
    }
  }

  &__header {
    grid-column: 1 / 3;
    grid-row: 1;

    @include media("<=tablet") {
      grid-column: 1;
    }

    @include media("<=phone") {
      grid-column: 1;
    }
  }

  &__description {
    grid-column: 1 / 3;
    grid-row: 2;
    background-color: $light5Color;
    color: $lightFont5Color;
    line-height: 160%;

    
    .dark & {
      background-color: $dark5Color;
      color: $darkFont5Color;
    }
    
    @include media("<=tablet") {
      padding: 10%;
      grid-column: 1;
    }

    p {
      margin: 20px auto 0.65em;
    }

  }


  &__col1 {
    background-color: $light4Color;
    color: $lightFont4Color;
    .dark & {
      background-color: $dark4Color;
      color: $darkFont4Color;
    }
  }
  &__col2 {
    background-color: $light3Color;
    color: $lightFont3Color;
    .dark & {
      background-color: $dark3Color;
      color: $darkFont3Color;
    }
  }

  .skills-list {
    display: grid;
    grid-template-columns: 50% 50%;

    @include media("<=phone") {
      grid-template-columns: 100%;
    }
  }
}

.work__section {
  margin: 150px 0px;
  display: grid;
  grid-template-columns: 15% 70% 15%;

  @include media(">tablet", "<=1024px") {
    grid-template-columns: 3% 94% 3%;
  }

  @include media("<=tablet") {
    grid-template-columns: 100%;
  }

  @include media("<=phone") {
    margin: 80px auto;
    grid-template-columns: 100%;
  }

  &__content {
    grid-column: 2 / 2;
    display: grid;
    grid-template-columns: 70% 30%;

    @include media(">tablet", "<=1024px") {
      grid-column: 2;
      grid-template-columns: 100%;
    }

    @include media("<=tablet") {
      grid-column: 1;
      grid-template-columns: 100%;
    }
  }

  &__header {
    grid-column: 1 / 3;
    grid-row: 1;

    @include media("<=tablet") {
      grid-column: 1;
    }

    @include media("<=phone") {
      grid-column: 1;
    }
  }

  &__item {
    display: grid;
    justify-items: center;
  }

  &__item1 {
    grid-column: 1 / 2;
    grid-row: 2;
    font-weight: bold;
    position: relative;

    background-color: $light2Color;
    color: $lightFont2Color;

    .dark & {
      background-color: $dark2Color;
      color: $darkFont2Color;
    }

    rect {
      fill: $light2Color;
      .dark & {
        fill: $dark2Color
      }
    }

    path {
      fill: $lightFont2Color;
      .dark & {
        fill: $darkFont2Color;
      }
    }

    @include media("<=1024px") {
      grid-column: 1;
      grid-row: 2;
    }
  }
  &__item2 {
    grid-column: 1 / 2;
    grid-row: 3;
    background-color: $light1Color;
    color:$lightFont1Color;

    .dark & {
      background-color: $dark1Color;
      color: $darkFont1Color;
    }

    svg {
      height: 40px;
      width: 40px;
      path {
        fill: $lightFont1Color;
        .dark & {
          fill: $darkFont1Color;
        }
      }
    }

    .bentoLogo {
      height: 40px;
      width: 40px;
    }

    @include media("<=1024px") {
      grid-column: 1;
      grid-row: 3;
    }
  }

  &__item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: $light0Color;
    color: $lightFont0Color;
    display: grid;
    text-align: center;
    justify-items: center;
    align-content: center;
    .dark & {
      background-color: $dark0Color;
      color: $darkFont0Color;
    }

    @include media("<=1500px") {
      padding: 10px !important;
    }

    @include media("<=1024px") {
      grid-column: 1;
      grid-row: 4;
    }

    @include media("<=phone") {
      padding: 50px !important;
    }

    a {
      display: block;
      cursor: pointer;
      color: inherit;
      text-decoration: underline;
      margin-top: 20%;
      font-size: 28px;
      font-weight: bold;
      width: 200px;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

      @include media("<=phone") {
        margin-top: 5%;
        margin-bottom: 20%;
      }

      &:hover {
        color: $lightSpecialColor;

        .dark & {
          color: $darkSpecialColor;
        }
      }
    }
  }
}


.section-header {
  color: $lightSectionHeaderColor;
  font-size: 120px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: left;
  z-index: 10;
  position: relative;
  line-height: 0.6em;
  pointer-events: none;
  flex: 1 100%;

  .dark & {
    color: $darkSectionHeaderColor;
  }

  @include media("<=phone") {
    font-size: 21vw;
  }
}

.box {
  padding: 40px 50px 60px;
  font-size: 16px;
  line-height: 160%;
  @include media("<=phone") {
    padding: 9%;
    font-size: 14px;
  }

  .box-header {
    font-size: 46px;
    line-height: 1.3em;
    margin: 60px auto 0.7em;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 680px;
    z-index: 10;
    letter-spacing: -0.03em;

    @include media("<=phone") {
      font-size: 32px;
      margin-top: 24px;
      text-align: center;
    }
  }

  ul {
    display: grid;
    @include media('<=phone'){
      text-align: center;
    }
    li {
      list-style: none;
      margin: 1.2rem 0;

      @include media('<=phone'){
        margin: 0.5rem 0;
      }
    }
  }

  .box-text-center {
    margin: 2rem 2rem;
    text-align: center;
  }
}
