@import "src/styles/colors.scss";
@import "src/styles/breakpoints.scss";

.leftSidebar {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;

  @include media("<=tablet") {
    display: none;
  }
}
