

// light mode
$light6Color: white;
$lightFont6Color: black;

$light5Color: #CADBDA;
$lightFont5Color: black;

$light4Color: #FDF0EC;
$lightFont4Color: #003459;

$light3Color: #97BEC8;
$lightFont3Color: white;

$lightSpecialColor: #A62648;
$lightSectionHeaderColor: $lightSpecialColor;


// dark mode 
$dark6Color: #0B1726;
$darkFont6Color: white;

$dark5Color: #0353a4;
$darkFont5Color: white;

$dark4Color: #bbdef0;
$darkFont4Color: #004e98;

$dark3Color: #007ea7;
$darkFont3Color: white;


$darkSpecialColor: #F2CB05;
$darkSectionHeaderColor: $darkSpecialColor;



@mixin theme-main-colors($light-theme: true) {

  font-weight: 600;
  @if $light-theme {
    background-color: $light6Color;
    color: $lightFont6Color;
  } @else {
    background-color: $dark6Color;
    color: $darkFont6Color;
  }
}


$hoverLightBackground: $lightSpecialColor;
$hoverDarkBackgroundColor: $darkSpecialColor;




@mixin hover-colors($light-theme: true) {
  @if $light-theme {
    color: $hoverLightBackground;
  } @else {
    color: $hoverDarkBackgroundColor;
  }
}
