$light6Color: white;
$light5Color: #F0F1F2;

$dark6Color: #0B1726;
$dark5Color: #172B45;

$darkBackground: $dark6Color;

$darkSpecialColor: #F2CB05;
$lightSpecialColor: #A62648;

$hoverLightBackground: $lightSpecialColor;
$hoverDarkBackgroundColor: $darkSpecialColor;


@mixin theme-main-colors($light-theme: true) {
  @if $light-theme {
    color: $dark6Color;
  } @else {
    background-color: $dark6Color;
    color: $light6Color;
  }
}


@mixin hover-colors($light-theme: true) {
  @if $light-theme {
    color: $hoverLightBackground;
  } @else {
    color: $hoverDarkBackgroundColor;
  }
}
