$lightColor: white;
$darkColor: #0B1726;
$darkBackground: $darkColor;

$darkSpecialColor: #F2CB05;
$lightSpecialColor: #A62648;

$hoverLightBackground: $lightSpecialColor;
$hoverDarkBackgroundColor: $darkSpecialColor;


@mixin theme-main-colors($light-theme: true) {
  @if $light-theme {
    color: $darkColor;
  } @else {
    background-color: $darkColor;
    color: $lightColor;
  }
}


@mixin hover-colors($light-theme: true) {
  @if $light-theme {
    color: $hoverLightBackground;
  } @else {
    color: $hoverDarkBackgroundColor;
  }
}
