@import "src/styles/colors.scss";
@import "src/styles/breakpoints.scss";

.title {
  font-size: 46px;
  line-height: 1.3em;
  margin: 60px auto 0.7em;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateZ(0);
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 680px;
  z-index: 10;
  letter-spacing: -0.03em;

  @include media("<=phone") {
    font-size: 32px;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
  }
}
