@import "src/styles/colors.scss";
@import "src/styles/breakpoints.scss";

.work__section {
  margin: 150px 0px;
  display: grid;
  grid-template-columns: 15% 70% 15%;

  @include media(">tablet", "<1260px") {
    grid-template-columns: 3% 94% 3%;
  }

  @include media("<=tablet") {
    grid-template-columns: 100%;
  }

  @include media("<=phone") {
    margin: 80px auto;
    grid-template-columns: 100%;
  }

  &__content {
    grid-column: 2 / 2;
    display: grid;
    grid-template-columns: 70% 30%;

    @include media(">tablet", "<1260px") {
      grid-column: 2;
      grid-template-columns: 100%;
    }

    @include media("<=tablet") {
      grid-column: 1;
      grid-template-columns: 100%;
    }
  }

  &__item {
    display: grid;
    justify-items: center;

    &.box {
      .box-header {
        margin-bottom: -0.1em;
      }
    }

    &__tenure {
      font-size: 14px;
      margin-bottom: 2em;
    }
  }

  &__item1 {
    grid-column: 1 / 2;
    grid-row: 2;
    font-weight: bold;
    position: relative;

    background-color: $light2Color;
    color: $lightFont2Color;

    .dark & {
      background-color: $dark2Color;
      color: $darkFont2Color;
    }

    rect {
      fill: $light2Color;
      .dark & {
        fill: $dark2Color;
      }
    }

    path {
      fill: $lightFont2Color;
      .dark & {
        fill: $darkFont2Color;
      }
    }

    @include media("<1260px") {
      grid-column: 1;
      grid-row: 2;
    }
  }
  &__item2 {
    grid-column: 1 / 2;
    grid-row: 3;
    background-color: $light1Color;
    color: $lightFont1Color;

    .dark & {
      background-color: $dark1Color;
      color: $darkFont1Color;
    }

    svg {
      height: 40px;
      width: 40px;
      path {
        fill: $lightFont1Color;
        .dark & {
          fill: $darkFont1Color;
        }
      }
    }

    .bentoLogo {
      height: 40px;
      width: 40px;
    }

    @include media("<1260px") {
      grid-column: 1;
      grid-row: 3;
    }
  }

  &__item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: $light0Color;
    color: $lightFont0Color;
    display: grid;
    text-align: center;
    justify-items: center;
    align-content: center;
    .dark & {
      background-color: $dark0Color;
      color: $darkFont0Color;
    }

    @include media("<=1500px") {
      padding: 10px !important;
    }

    @include media("<1260px") {
      grid-column: 1;
      grid-row: 4;
    }

    @include media("<=phone") {
      padding: 50px !important;
    }

    a {
      display: block;
      cursor: pointer;
      color: inherit;
      text-decoration: underline;
      margin-top: 20%;
      font-size: 28px;
      font-weight: bold;
      width: 200px;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

      @include media("<1260px") {
        margin-top: 5%;
        margin-bottom: 15%;
      }

      @include media("<1024px") {
        margin-top: 5%;
        margin-bottom: 20%;
      }

      &:hover {
        color: $lightSpecialColor;

        .dark & {
          color: $darkSpecialColor;
        }
      }
    }
  }
}
